<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qhyccd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tabscroll.TabRecyclerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" /> -->
            <!-- </intent-filter> -->


            <!-- <meta-data -->
            <!-- android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" -->
            <!-- android:resource="@xml/device_filter" /> -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoActivity" />
        <activity android:name=".SecondActivity" />
        <activity
            android:name=".MainForm"
            android:screenOrientation="landscape" />
        <activity android:name=".TestActivity" />
        <!-- <activity android:name=".flex.FlexActivity" /> -->
        <activity android:name=".flex.FlexDirectionActivity" />
        <activity android:name=".flex.FlexWrapActivity" />
        <activity android:name=".flex.JustifyContentActivity" />
        <activity android:name=".flex.AlignItemsActivity" />
        <activity android:name=".flex.AlignContentActivity" />
        <activity android:name=".flex.DividerActivity" />
        <activity android:name=".flex.LayoutOrderActivity" />
        <activity android:name=".flex.LayoutFlexGrowActivity" />
        <activity android:name=".flex.LayoutFlexShrinkActivity" />
        <activity android:name=".flex.LayoutAlignSelfActivity" />
        <activity android:name=".flex.LayoutFlexBasisPercentActivity" />
        <activity android:name=".flex.FlexRecyclerActivity" />
        <!--<activity android:name=".test.NineActivity" />-->
        <!--<activity android:name=".tabscroll.TabScrollActivity" />-->
        <!--<activity android:name=".expand.ExpandActivity" />-->
        <!--<activity android:name=".coordinatorLayout.DemoActivity" />-->
        <!-- <activity android:name=".view.ViewStubActivity" /> -->
        <!-- <activity android:name=".view.MergeActivity" /> -->
        <!-- <activity android:name=".view.IncludeActivity" /> -->
        <!-- <activity android:name=".drag.DragActivity" /> -->
        <!-- <activity android:name=".beis.AnimActivity" /> -->
        <!-- <activity android:name=".event.EventAct" /> -->

    </application>

</manifest>